
<html>

  <body>
    <h1>User List</h1>
      <ul>
        
    Name: <%= user.name %></br>
    Email: <%= user.email %></br>
    Name: <%= user.address.city %></br>
  
  </ul>

  <a href="/users">Back To List </a>
  </body>
</html>
